input
{
    width: 253px;
}
button
{
    width: 60px;
    height: 35px;
    background-color: #FAFAFA;
    border: none;
}
table
{
    background-color: #F0F0F0;
}

label#outPut
{
    display: block;
 background-color: #F0F0F0;
 height: 100px;
 width: 258px;
 margin-bottom: -10px;
}
